.section {
  height: 100vw;
  margin-top: 88px;

  @media screen and (min-width: 768px) {
    margin-top: 148px;
  }
}
.sectionlogin {
  margin-top: 92px;

  @media screen and (min-width: 768px) {
    margin-top: 148px;
  }
}
.sectionRegister {
  margin-top: 92px;

  @media screen and (min-width: 768px) {
    margin-top: 148px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 112px;
  }
}
